:root {
   --main-white-color: #fff;
   --main-black-color: #000;
   --primary-color-1: #4A3AFF;
   --messege: url("../images/svg/Envelope.svg");
   --eye:url("../images/svg/Eye.svg");
   --calendar:url("../../images/svg/CaretDown.svg");
   --data:url("../../images/svg/CalendarBlank.svg");
}

.errorr{
   --messege: url("../images/svg/Envelopered.svg");

}
