.hero{
  // display: none;
  padding-top: 60px;
  padding-bottom: 158px;
}
.result{
  display: none;
}
.none{
display: none;
}
.hero__inner{
padding: 60px;
  border-radius: 20px;
border: 2px solid #DBDBDB;
box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.hero__title{
margin-top: 0;
margin-bottom: 5px;
text-align: center;
font-size: 32px;
line-height: normal;
}
.hero__text{
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.hero__name-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.hero__name-fieldset{
  max-width: 178px;
  width: 100%;
  padding: 0;
 padding-left: 17px ;

  border-radius: 10px;
  border: 1px solid var(--Input-border-color, #D2D5DA);

}
.hero__legend{
  color: var(--Mini-title, #121826);
font-size: 12px;
line-height: normal;
font-weight: 600;
}
.hero__legend::after{
  display: inline-block;
  width: 7px;
  height: 15px;
  margin-right: 5px;
  background-image: url("../../images/svg/redstar.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";

}
.hero__legend::before {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin-right: 5px;
  content: "";

}
.hero__name-input{
  border: none;
  display: block;
  max-width: 150px;
  width: 100%;

  outline: none;
  padding: 7px 13px 12px 5px;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero__name-input::placeholder{
  color: #6C727F;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.hero__eror-span{

  display: none;
  width: 100%;
  height: 10px;
  margin-top: 5px;
  color: #FF0707;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.hero__fieldset{
  position: relative;
  max-width: 380px;
  width: 100%;
  padding: 0;
  padding-left: 16px;
  border-radius: 8px;
  border: 1px solid var(--Input-border-color, #D2D5DA);
  background: #FFF;
  
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  margin-top: 18px;
}
.hero__input{
  display: flex;
  border: none;
  max-width: 270px;
  width: 100%;
  outline: none;
  padding: 7px 16px 16px 5px;
}

 .hero__fieldset:nth-child(8) .hero__legend::after, .hero__fieldset:nth-child(10) .hero__legend::after{
  background-image: url("../../images/svg/blackstar.svg");
}
.hero__checkbox-wrapper{
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}
.hero__checkbox{
  display: block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.checkbox-label{
  display: block;
font-size: 14px;
font-weight: 400;
line-height: normal;
}
.checkbox-span {
  color: #121826;
font-size: 14px;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

.hero__btn{
max-width: 380px;
width: 100%;
padding: 20px 60px;
color: #FFF;
text-align: center;
font-size: 28px;
line-height: 28px; /* 100% */
border-radius: 8px;
background: #2C28E1;
border: none;
}
 .hero__email-btn{
  position: absolute;
  right: 12px;
  top: 6px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: var(--messege);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
 }
 
 .hero__pasw-btn{
  position: absolute;
  right: 12px;
  top: 6px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: var(--eye);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
 }
 .hero__select-btn{
  position: absolute;
  right: 12px;
  top: 6px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: var(--calendar);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
 }
 .hero__select{
  max-width: 350px;
  appearance: none;
  padding-right: 0;

 }
 .hero__data-btn{
  position: absolute;
  right: 12px;
  top: 6px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: var(--data);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
}
 .error{
  display: block;

 }
 .error-color{
  color: #FF0707;
 }
 .red-border{
border-color: #FF0707;
 }